/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v5-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/barlow-v5-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/barlow-v5-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/barlow-v5-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/barlow-v5-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/barlow-v5-latin-regular.svg#Barlow") format("svg"); /* Legacy iOS */
}

/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v10-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/fraunces-v10-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/fraunces-v10-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/fraunces-v10-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/fraunces-v10-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/fraunces-v10-latin-900.svg#Fraunces") format("svg"); /* Legacy iOS */
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #fefcf7;
  background: #f2f2f2;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styling */

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 20px;
}

.nav_list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav_item + .nav_item {
  margin-left: 32px;
}

.nav_links {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #83888f;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

/* hero section styling */

.hero .container {
  margin-bottom: 136px;
  padding: 117px 105px;
  background-image: url(../img/coffee_hero.png);
  background-repeat: no-repeat;
  background-size: 1280px 600px;
  background-position: center;
}

.hero_heading {
  width: 493px;
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}

.hero_text {
  margin-top: 0;
  margin-bottom: 32px;
  width: 445px;
}

.button {
  display: block;
  width: 217px;
  padding: 15px;
  text-align: center;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  background: #66d2cf;
  border-radius: 6px;
  text-decoration: none;
}

/* Cards section styling */

.cards {
  background-image: url(../img/collection.png);
  background-repeat: no-repeat;
  background-size: 1111px 196px;
  background-position: top 0 center;
  margin-bottom: 200px;
}

.cards .container {
  width: 1111px;
}

.cards__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(33%);
}

.cards__item {
  width: 255px;
}
.cards__item + .cards__item {
  margin-left: 30px;
}

.cards__item::before {
  display: block;
  content: "";
  width: 255px;
  height: 193px;
  margin-bottom: 72px;
  background-image: url(../img/product.png);
  background-repeat: no-repeat;
  background-size: 255px 193px;
}

.cards__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
}

.cards__text {
  margin: 0;
  text-align: center;
  color: #333d4b;
}

/* Choice section styling */

.choice{
    margin-bottom: 400px;
}

.choice .container {
    
  position: relative;
  padding-top: 100px;
  padding-bottom: 317px;
  background-color: #2c343e;
  border-radius: 10px;
}

.choice_heading {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
}

.choice_text {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto;
  text-align: center;
  color: #fefcf7;
}

.choice_list {
  position: absolute;
  top: 346px;
  left: 85px;
  right: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.choice_item {
  width: 350px;
  padding: 48px;
  background: #0e8784;
  border-radius: 8px;
}

.choice_item_first::before {
  display: block;
  content: "";
  width: 72px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 56px;
  background-image: url(../img/card3.svg);
  background-repeat: no-repeat;
}

.choice_item_second::before {
  display: block;
  content: "";
  width: 72px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 56px;
  background-image: url(../img/card2.svg);
  background-repeat: no-repeat;
}

.choice_item_third::before {
  display: block;
  content: "";
  width: 72px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 56px;
  background-image: url(../img/card1.svg);
  background-repeat: no-repeat;
}

.choice_item_heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf7;
}

.choice_item_text {
  text-align: center;
  color: #fefcf7;
}

/* instruction section styling */

.instruction .container{
width: 1045px;
}

.instruction_heading{
    margin-top: 0;
    margin-bottom: 80px;
    font-family: 'Fraunces', Arial, Helvetica, sans-serif;
    font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #83888F;
}

.line::before{
display: block;    
content: '';
width: 760px;
height: 2px;
background-color: #FDD6BA;
}

.span{
    width: 760px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
}

.circles{
display: block;
width: 31px;
height: 31px;
border-radius: 50%;
border: 2px solid #0E8784;
background-color: #FEFCF7;;
}

.instruction_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 118px;
    padding: 0;
    list-style-type: none;
}


.instruction_item{
    width: 285px;
}

.instruction_item_first::before{
    display: block;
content: '01';
width: 101px;
height: 72px;
margin-bottom: 38px;
font-family: 'Fraunces', Arial, Helvetica, sans-serif;
font-weight: 900;
font-size: 72px;
line-height: 72px;
color: #FDD6BA;
}

.instruction_item_second::before{
    display: block;
content: '02';
width: 101px;
height: 72px;
margin-bottom: 38px;
font-family: 'Fraunces', Arial, Helvetica, sans-serif;
font-weight: 900;
font-size: 72px;
line-height: 72px;
color: #FDD6BA;
}

.instruction_item_third::before{
    display: block;
content: '03';
width: 101px;
height: 72px;
margin-bottom: 38px;
font-family: 'Fraunces', Arial, Helvetica, sans-serif;
font-weight: 900;
font-size: 72px;
line-height: 72px;
color: #FDD6BA;
}

.instruction_item_heading{
    width: 255px;
    margin-top: 0;
    margin-bottom: 42px;
    font-family: 'Fraunces', Arial, Helvetica, sans-serif;
    font-weight: 900;
font-size: 32px;
line-height: 36px;
color: #333D4B;
}

.instruction_item_text{
    margin-top: 0;
    margin-bottom: 64px;
    color: #333D4B;

}

.instruction .button{
    background: #0E8784;
    transform: translateX(-40px);
}