/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v5-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/barlow-v5-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/barlow-v5-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/barlow-v5-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/barlow-v5-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/barlow-v5-latin-regular.svg#Barlow") format("svg"); /* Legacy iOS */
}

/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v10-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/fraunces-v10-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/fraunces-v10-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/fraunces-v10-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/fraunces-v10-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/fraunces-v10-latin-900.svg#Fraunces") format("svg"); /* Legacy iOS */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 88px;
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #fefcf7;
  background: #f2f2f2;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styling */

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 20px;
}

.nav_list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav_item + .nav_item {
  margin-left: 32px;
}

.nav_links {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #83888f;
}

.nav_links:hover {
  color: #333d4b;
}

/* Main */

.main {
  flex-grow: 1;
}

/* hero section styling */

.hero .container {
  margin-bottom: 136px;
  padding: 117px 105px;
  background-image: url(../img/coffee_hero.png);
  background-repeat: no-repeat;
  background-size: 1280px 600px;
  background-position: center;
}

.hero_heading {
  width: 493px;
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}

.hero_text {
  margin-top: 0;
  margin-bottom: 32px;
  width: 445px;
}

.button {
  display: block;
  width: 217px;
  padding: 15px;
  text-align: center;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  background: #66d2cf;
  border-radius: 6px;
  text-decoration: none;
}

/* Cards section styling */

.cards {
  background-image: url(../img/collection.png);
  background-repeat: no-repeat;
  background-size: 1111px 196px;
  background-position: top 0 center;
  margin-bottom: 200px;
}

.cards .container {
  width: 1111px;
}

.cards__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(33%);
}

.cards__item {
  width: 255px;
}
.cards__item + .cards__item {
  margin-left: 30px;
}

.cards__item::before {
  display: block;
  content: "";
  width: 255px;
  height: 193px;
  margin-bottom: 72px;
  background-image: url(../img/product.png);
  background-repeat: no-repeat;
  background-size: 255px 193px;
}

.cards__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
}

.cards__text {
  margin: 0;
  text-align: center;
  color: #333d4b;
}

/* Choice section styling */

.choice {
  margin-bottom: 400px;
}

.choice .container {
  position: relative;
  padding-top: 100px;
  padding-bottom: 317px;
  background-color: #2c343e;
  border-radius: 10px;
}

.choice_heading {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
}

.choice_text {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto;
  text-align: center;
  color: #fefcf7;
}

.choice_list {
  position: absolute;
  top: 346px;
  left: 85px;
  right: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.choice_item {
  width: 350px;
  padding: 48px;
  background: #0e8784;
  border-radius: 8px;
}

.choice_item_first::before {
  display: block;
  content: "";
  width: 72px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 56px;
  background-image: url(../img/card3.svg);
  background-repeat: no-repeat;
}

.choice_item_second::before {
  display: block;
  content: "";
  width: 72px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 56px;
  background-image: url(../img/card2.svg);
  background-repeat: no-repeat;
}

.choice_item_third::before {
  display: block;
  content: "";
  width: 72px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 56px;
  background-image: url(../img/card1.svg);
  background-repeat: no-repeat;
}

.choice_item_heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf7;
}

.choice_item_text {
  text-align: center;
  color: #fefcf7;
}

/* instruction section styling */

.instruction .container {
  width: 1045px;
}

.instruction_heading {
  margin-top: 0;
  margin-bottom: 80px;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}

.instruction .line::before {
  display: block;
  content: "";
  width: 730px;
  height: 2px;
  margin-bottom: 82px;
  background-color: #fdd6ba;
}

.line::before {
  display: block;
  content: "";
  width: 760px;
  height: 2px;
  margin-left: 15.5px;
  margin-bottom: 82px;
  background-color: #fdd6ba;
}

.span {
  width: 760px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-97.5px);
}

.circles {
  display: block;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 2px solid #0e8784;
  background-color: #fefcf7;
}

.instruction_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 118px;
  padding: 0;
  list-style-type: none;
}

.instruction_item {
  width: 285px;
}

.instruction_item_first::before {
  display: block;
  content: "01";
  width: 101px;
  height: 72px;
  margin-bottom: 38px;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}

.instruction_item_second::before {
  display: block;
  content: "02";
  width: 101px;
  height: 72px;
  margin-bottom: 38px;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}

.instruction_item_third::before {
  display: block;
  content: "03";
  width: 101px;
  height: 72px;
  margin-bottom: 38px;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}

.instruction_item_heading {
  width: 255px;
  margin-top: 0;
  margin-bottom: 42px;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}

.instruction_item_text {
  margin-top: 0;
  margin-bottom: 64px;
  color: #333d4b;
}

.instruction .button {
  margin-bottom: 200px;
  color: #fefcf7;
  background-color: #0e8784;
  transform: translateX(-40px);
}

/* Footer section styling */

.footer .container {
  display: flex;
  align-items: center;
  padding: 47px 85px;
  background-color: #2c343e;
  border-radius: 5px;
}

.footer_nav {
  margin-left: 102px;
}

.footer .nav_links:hover {
  color: #fefcf7;
}

.social {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.social_item + .social_item {
  margin-left: 24px;
}

/* About page styling */

.about_intro .container {
  padding: 137px 85px;
  margin-bottom: 168px;
  background-image: url(../about/img/Bitmap.jpg);
  background-repeat: no-repeat;
  background-size: 1280px 450px;
  background-position: center;
}

.about_hading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
}

.about_text {
  margin-top: 0;
  margin-bottom: 0;
  width: 445px;
}

/* Commitment section styling */

.commitment .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  margin-bottom: 168px;
}

.commitment_info {
  width: 540px;
}

.commitment_heading {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333d4b;
}

.commitment_text {
  color: #333d4b;
}

/* Quality section styling */

.quality .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 168px;
  padding: 0 85px;
  background-color: #2c343e;
  border-radius: 5px;
}

.quality_info {
  width: 540px;
  margin-top: 88px;
}

.quality_heading {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
}

.quality_text {
  margin: 0;
}

.quality_image {
  position: relative;
  top: -88px;
}

/* Headquarters section styling */

.headquarters .container {
  margin-bottom: 168px;
  padding: 0 85px;
}

.headquarters_heading {
  margin-top: 0;
  margin-bottom: 72px;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}

.headquarter_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1045px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.headquarter_item_first::before {
  display: block;
  content: "";
  width: 35px;
  height: 49px;
  margin-bottom: 45px;
  background-image: url(../about/img/uk.svg);
  background-repeat: no-repeat;
  background-size: 35px 49px;
}

.headquarter_item_second::before {
  display: block;
  content: "";
  width: 52px;
  height: 50px;
  margin-bottom: 45px;
  background-image: url(../about/img/canada.svg);
  background-repeat: no-repeat;
  background-size: 52px 50px;
}

.headquarter_item_third::before {
  display: block;
  content: "";
  width: 49px;
  height: 37px;
  margin-bottom: 45px;
  background-image: url(../about/img/australia.svg);
  background-repeat: no-repeat;
  background-size: 49px 37px;
}

.continent {
  margin-bottom: 24px;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}

.continent_info {
  margin: 0;
  color: #333d4b;
}

/* Create page styling */

/* Create section */

.create .container {
  margin-bottom: 168px;
  padding: 134px 85px;
  background-image: url(../create/img/create_hero.png);
  background-repeat: no-repeat;
  background-size: 1280px 450px;
  background-position: center;
}

.create_intro_heading {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
}

.create_intro_text{
  width: 445px;
  margin: 0;
}

/* Measurement section */

.measurement .container{
  margin-bottom: 159px;
  padding: 100px 85px;
  background-color: #2C343E;
}

.measurement_list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.measurement_item+ .measurement_item{
  margin-left: 95px;
}

.measurement_item::before{
  display: block;
  content: '';
  width: 29px;
  height: 29px;
  background-color: transparent;
  border: 2px solid #0E8784;
  border-radius: 50%;
  transform: translateY(-98px);
}

.measurement_heading{
  width: 255px;
  margin-top: 0;
  margin-bottom: 42px;
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
  font-weight: 900;
font-size: 32px;
line-height: 36px;
}

.measurement_heading_first::before{
  display: block;
content: '01';
width: 90px;
height: 72px;
margin-bottom: 38px;
font-family: 'Fraunces',Arial, Helvetica, sans-serif;
font-weight: 900;
font-size: 72px;
line-height: 72px;
color: #FDD6BA;
}

.measurement_heading_second::before{
  display: block;
content: '02';
width: 90px;
height: 72px;
margin-bottom: 38px;
font-family: 'Fraunces',Arial, Helvetica, sans-serif;
font-weight: 900;
font-size: 72px;
line-height: 72px;
color: #FDD6BA;
}

.measurement_heading_third::before{
  display: block;
content: '03';
width: 90px;
height: 72px;
margin-bottom: 38px;
font-family: 'Fraunces',Arial, Helvetica, sans-serif;
font-weight: 900;
font-size: 72px;
line-height: 72px;
color: #FDD6BA;
}

.measurement_text{
  width: 285px;
  margin: 0;
}


/* Preference section styling */

.preference .container{
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.preference_list{
  width: 255px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.preference_item+ .preference_item{
  margin-top: 49px;
}

.preference_links{
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
  font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #333D4B;
opacity: 0.4;
text-decoration: none;
}

.preference_links:hover{
  opacity: 0.6;
}

.preference_links:active{
  opacity: 1;
}

.questions_list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.preference_links span{
  display: inline-block;
  margin-right: 25px;
}

.questions_item+ .questions_item{
  margin-top: 88px;
}

.questions_item_heading{
  margin-top: 0;
  margin-bottom: 56px;
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
  font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #83888F;
}

.answers_list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 730px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.answers_item{
  width: 228px;
  padding: 32px 25px;
  padding-bottom: 84px;
  background: #F4F1EB;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 0 black;
  transition: background-color 0.3s ease;
}

.answers_item:hover{
  cursor: pointer;
  background-color: #FDD6BA;
}

.answers_heading{
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
  font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #333D4B;
}

.amswers_text{
  margin: 0;
  color: #333D4B;
}

.answers_item_color{
  width: 228px;
  padding: 32px 25px;
  padding-bottom: 84px;
  background-color: #0E8784;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 0 black;
  transition: background-color 0.3s ease;
}

.answers_item_color:hover{
  cursor: pointer;
  background-color: #FDD6BA;
}

.answers_item_color .answers_heading{
  color: #ffffff;
}

.answers_item_color .amswers_text{
  color: #ffffff;
}

.summary_item{
  width: 730px;
  margin-top: 88px;
  padding: 27px 64px;
  background-color: #2C343E;
  border-radius: 8px;
}

.summary_heading{
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
color: #FFFFFF;
opacity: 0.5;
}

.summary_text{
  margin: 0;
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
  font-weight: 900;
font-size: 24px;
line-height: 40px;
color: #ffffff;
}

.summary_text span{
  color: #0E8784;
}

.preference .button{
  margin-bottom: 168px;
  margin-left: auto;
  margin-right: 370px;
}

